<h1>商品編集</h1>
<%= form_with model: @item, url:"/admin/items/#{@item.id}", local:true do |f| %>
  <h4>商品画像</h4>
  <%= f.attachment_field :image %>
<h4>商品名</h4>
  <%= f.text_field :name %>
<h4>商品説明</h4>
  <%= f.text_area :introduction %>
<h4>ジャンル</h4>
 <%= f.collection_select :genre_id, Genre.all, :id, :name %>
<h4>税抜価格</h4>
  <%= f.text_field :price %>円
<h4>販売ステータス</h4>
  <%= f.radio_button :is_active, :true, checked: true %>
  <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;" } %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;" } %>
  <%= f.submit '変更を保存', class:"btn btn-success" %>
<% end %>
