<h2>商品名</h2>
<p><%= @item.name %></p>
<h2>本文</h2>
<p><%= @item.introduction %></p>
<h2>画像</h2>
<%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
<h2>ジャンル</h2>
<p><%= @item.genre.name %></p>
<h2>税込価格</h2>
<p><%= @item.price %></p>
<h2>販売ステータス</h2>
<% if @item.is_active==true %>
<p>販売中</p>
<% elsif @item.is_active==false %>
<p>販売停止中</p>
<% end %>
<%= link_to "編集する", edit_admin_item_path(@item.id) %>