<h2>注文履歴詳細</h2>
  <tbody>
    <tr>
      <td>購入者</td>
      <td>
        <%= link_to admin_customer_path(current_customer.id) do %>
        <%= current_customer.last_name %><%= current_customer.first_name %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>注文日</td>
      <td>
        <%= @order.created_at %>
      </td>
    </tr>

    <tr>
      <td>配送先</td>
      <td>
        <%= "〒" + @order.postal_code %><%= @order.address %><%= @order.name %>
      </td>
    </tr>