<h2>マイページ</h2>

<p><b>登録情報</b></p>
<%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-outline-danger" %>
<table>
    <thead>

        <tr><th>氏名</th><td><%= current_customer.last_name %><%= current_customer.first_name %></td></tr>
        <tr><th>カナ</th><td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td></tr>
        <tr><th>郵便番号</th><td><%= current_customer.postal_code %></td></tr>
        <tr><th>住所</th><td><%= current_customer.address %></td></tr>
        <tr><th>電話番号</th><td><%= current_customer.telephone_number %></td></tr>
        <tr><th>メールアドレス</th><td><%= current_customer.email %></td></tr>

    </thead>
</table>

<h3>配送先</h3>
<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>

<h3>注文履歴</h3>
<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>