<h2>注文履歴詳細</h2>

<div class="container">
    <strong>注文情報</storong>
    <table class="table table-bordered">
      <tbody>
          <tr><th>注文日</th><td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td></tr>
          <tr><th>配送先</th><td><%= "〒" + " " + @order.postal_code + " " + @order.address + " " + @order.name %></td></tr>
          <tr><th>支払方法</th><td><%= @order.payment_method %></td></tr>
      </tbody>
    </table>


    <table class="table table-bordered">
      <thead class="table-dark">
        <strong>注文内容</strong>
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>

      <tbody>
        <% @order_details.each do |detail| %>
        <tr>
          <td><%= detail.item.name %></td>
          <td><%= detail.price %></td>
          <td><%= detail.amount %></td>
          <td><%= detail.price*detail.amount %></td>
          <% @total += detail.price*detail.amount %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered">
        <strong>請求情報</strong>
      <tbody>
        <tr><th>商品合計</th><td><%= @total %></td>
        <tr><th>配送料</th><td>800</td>
        <tr><th>ご請求額</th><td><%= @total+800 %></td>
      </tbody>
    </table>
</div>