<h2>ショッピングカート</h2>
    <div>
        <%= link_to "カートを空にする", cart_items_path, method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>

    <% @cart_items.each do |cart_item| %>
    <tbody>
        <tr>
            <td>
                <%= attachment_image_tag cart_item.item, :image, size: "50x50" %>
                <%= cart_item.item.name %>
            </td>
            <td>
                <%= cart_item.item.price %>
            </td>
            <td>
                <%= cart_item.amount %>
            </td>
            <td>
                <%= cart_item.item.price*cart_item.amount %>
            </td>
            <td>
                <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class:"btn btn-danger" %>
            </td>
        </tr>
    </tbody>
    <% end %>
</table>

<%= link_to "買い物を続ける", items_path %>