<h2>配送先登録/一覧</h2>

<%= form_with model: @address, url: addresses_path, local: true do |f| %>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
  </div>

 <%= f.submit "新規登録" %>

  <table class="table">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_address_path(address) %>
            <%= link_to "削除する", address_path(address), method: :delete %>
        </td>
      </tr>
    </tbody>
      <% end %>
  </table>
<% end %>