<h2>配送先登録/一覧</h2>

<%= form_with model: @address, url: addresses_path, local: true do |f| %>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
  </div>

  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.last_name %><%= address.first_name %></td>
      </tr>
    </tbody>
      <% end %>

<% end %>